[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
graphene = "*"
flask-graphql = "*"
aiohttp = "*"

[dev-packages]
autopep8 = "*"
pytest = "*"
pylint = "*"
pytest-mock = "*"
pep8 = "*"
pytest-asyncio = "*"
aioresponses = "*"
python-dotenv = "*"

[requires]
python_version = "3.9"

[scripts]
dev = "bash ./scripts/dev-runtime.sh"
test = "pytest -v"
